// ~/.config/niri/cfg/misc.kdl
// Managed by chezmoi — machine type: {{ .machine_type }}    

prefer-no-csd
screenshot-path null

environment {
    NOCTALIA_PAM_SERVICE "system-auth"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 12
}

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}
